.content {
  max-width: 830px;
}

/* ===== MEDIA QUERIES - CONTENT ===== */

@media screen and (max-width: 1024px) {
  .content {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 544px) {
  .content {
    max-width: 288px;
  }
}
