.content {
  max-width: 830px;
}

.intro {
  margin-top: 92px;
  margin-left: 148px;
}

.intro__title {
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.intro__subtitle {
  margin-bottom: 10px;
  max-width: 738px;
  font-size: 24px;
  line-height: 34px;
}

.intro__author {
  margin-bottom: 42px;
  max-width: 732px;
  font-size: 24px;
  line-height: 34px;
  text-align: end;
}

.intro__description {
  max-width: 722px;
  font-size: 16px;
  line-height: 1.63;
}

/* ===== MEDIA QUERIES - CONTENT ===== */

@media screen and (max-width: 1024px) {
  .content {
    max-width: 720px;
    margin: 0 auto;
  }

  .intro {
    margin: 90px auto 0;
  }

  .intro__title {
    max-width: 707px;
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
  }

  .intro__subtitle {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 34px;
  }

  .intro__author {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 34px;
    text-align: end;
  }
}

@media screen and (max-width: 544px) {
  .content {
    max-width: 288px;
  }

  .intro {
    margin: 64px auto 0;
  }

  .intro__title {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }

  .intro__author {
    margin-bottom: 32px;
  }
}
