.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 16px;
}

.place {
  width: 100%;
  display: grid;
  grid-template-areas:
    "title artist"
    "image paragraph"
    "button paragraph"
    ". paragraph";
  gap: 48px 40px;
  padding-top: 80px;
  box-sizing: border-box;
}

.place__title {
  grid-area: title;
  max-width: 460px;
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.artist {
  grid-area: artist;
  align-self: self-end;
}

.artist__heading {
  height: 15px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(170, 170, 170, 1);
  margin: 0 auto;
}

.artist__name {
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
}

.place__image {
  grid-area: image;
  max-width: 460px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.place__image:hover {
  opacity: 0.5;
}

.place__description {
  grid-area: paragraph;
}

.place__paragraph {
  max-width: 484px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 25px;
}

.place__button {
  align-self: start;
  grid-area: button;
  max-width: 356px;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 110%;
  height: 48px;
  padding: 13px 20px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  text-decoration: none;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.place__button_shadow:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

/* ===== MEDIA QUERIES - PLACES ===== */

@media screen and (max-width: 1024px) {
  .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
  }

  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    grid-template-areas:
      "title"
      "artist"
      "image"
      "paragraph"
      "button";
    gap: 30px;
    padding-top: 50px;
  }

  .place__title {
    font-size: 32px;
    line-height: 35px;
  }

  .place__paragraph {
    max-width: 100%;
    font-size: 16px;
  }

  .place__button {
    text-align: center;
    font-size: 14px;
    line-height: 100%;
  }
}
